<div style="text-align:center">
  <h1>{{ title }} + {{page}}</h1>
</div>

<div class="ui-g">
  <div class="ui-g-12 ui-md-3 ui-lg-2">
    <p-panelMenu [model]="items" [style]="{'width':'100%'}"></p-panelMenu>
  </div>
  <div class="ui-g-12 ui-md-9 ui-lg-10">
      <div *ngIf="page == '0'">
          <app-panel></app-panel>
      </div>
      <div *ngIf="page == '2'">
          <app-event-registration></app-event-registration>
      </div>
      <div *ngIf="page == '4'">
        <app-dashboard></app-dashboard>
      </div>
  </div>
</div>
